# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
infrastructure/terraform.tfvars
infrastructure/lambda_function.zip

# AWS
.aws/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db